
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Django Test Article Website">
    <meta name="author" content="Kevin Leegsma">
    <link rel="icon" href="../../favicon.ico">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

  <!-- Custom theme -->
    <link rel="stylesheet" type="text/css" href="/static/articles/css/custom/style.css" />

    {% block extrahead %}   
    <!-- add content here specific to individual pages -->
    {% endblock %}
</head>

<body>

  <div id="navbarContainer">
      <div id="navHeaderImage">
          <a href = "{% url 'indexArticle' %}">
          <center><div id="navLogo"><!-- IMAGE GOES HERE --></div></center>
          </a>
      </div>        
      {% block sidebarBlock %}
        <!-- Page specific custom code here -->
      {% endblock %}
      <div class="col-sm-12" id="navContent">
      {% if latest_article_list %}
          <ul>
          {% for article in latest_article_list %}
              <center>
                <a href="{% url 'showArticle' article.id %}">
                  <img class="img-thumbnail" id="thumbs" src="{{ article.article_thumbnail_optional.url }}" />
                  <li>{{article.article_title}}</li>
                </a>
              </center>
          {% endfor %}
          </ul>
      {% else %}
          <p>No articles available.</p>
      {% endif %}
    </div>
  </div>


    <div class = "container" id = "pageContainer">
        {% block content %}
      <!-- add content here specific to individual pages -->
        {% endblock %}
   </div>

    <!-- READNEXT bar at the bottom of the page, this page randomly lists all the articles in the database -->
    <div class = "container" id = "readNext">
      <!--  Creates the BOOTSTRAP Carousel and plugs in our database values  -->
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        {% for article in full_article_list %}
          <!--  cycle increments the counter in FOR, but doesnt jump to the next statement  -->
          {% cycle 'start' '' '' '' as slidestart silent %} <!-- by having 'start' then 3 '' we tell our page we want it as 4 per line.  SILENT: keeps from returning count -->
          {% cycle '' '' '' 'end' as slideend silent %} <!-- by having 3 '' then 'end' we tell our page we want it as 4 per line.  SILENT: keeps from returning count -->
        {% if slidestart %}
          <div class="item {% if forloop.first %}  active  {% endif %}">
          <div class="row">
        {% endif %}
        <!-- ONLY DISPLAYS ON EXTRA SMALL SCREENS using visible-xs -->
        <div class="col-xs-6 visible-xs" id="readNextExtraSmall">
          <center>
            <a href="{% url 'showArticle' article.id %}">
              <img class="img-thumbnail" id="thumbFooter" src="{{ article.article_thumbnail_optional.url }}" /><br>
              <h4>{{ article.article_title }}</h4>
            </a>
          </center>
        </div>

        <!-- ONLY DISPLAYS ON SMALL SCREENS using visible-sm -->
        <div class="col-sm-6 visible-sm" id="readNextSmall">
          <center>
            <a href="{% url 'showArticle' article.id %}">
              <img class="img-thumbnail" id="thumbFooter" src="{{ article.article_thumbnail_optional.url }}" /><br>
              <h4>{{ article.article_title }}</h4>
            </a>
          </center>
        </div>

        <!-- ONLY DISPLAYS ON MEDIUM & LARGE SCREENS using visible-md visible-lg -->
        <div class="col-md-3 visible-md visible-lg" id="readNextLarge">
          <center>
            <a href="{% url 'showArticle' article.id %}">
              <img class="img-thumbnail" id="thumbFooter" src="{{ article.article_thumbnail_optional.url }}" /><br>
              <h4>{{ article.article_title }}</h4>
            </a>
          </center>
        </div>

        {% if slideend %} </div></div> {% endif %}
        {% endfor %}
       </div>
      <!-- Controls - Buttons to traverse through our carousel -->
      <a id="prevButton" class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="fa fa-angle-double-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a id="nextButton" class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="fa fa-angle-double-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/articles/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
</body>
</html>


