
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Django Test Article Website">
    <meta name="author" content="Kevin Leegsma">
    <link rel="icon" href="../../favicon.ico">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

	<!-- Custom theme -->
    <link rel="stylesheet" type="text/css" href="/static/articles/style.css" />

    {% block extrahead %}   
    <!-- add content here specific to individual pages -->
    {% endblock %}
</head>

<body>
	<div id="navbarContainer">
		{% block sidebarBlock %}
		<!-- Page specific custom code here -->
		{% endblock %}
	    <div id="navHeaderImage">
	        <img src="http://placehold.it/150x150">
	    </div>        
	    <div id="navContent">
			{% if latest_article_list %}
	    		<ul>
	    		{% for article in latest_article_list %}
	        		<li><a href="{% url 'showArticle' article.id %}">{{article.article_title}}</a></li>
	    		{% endfor %}
	    		</ul>
			{% else %}
	    		<p>No articles available.</p>
			{% endif %}
		</div>
	</div>


    <div class = "container" id = "pageContainer">
        {% block content %}
			<!-- add content here specific to individual pages -->
        {% endblock %}
   </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/articles/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
</body>
</html>


